<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.my.demo.widget"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.CustomToolbar">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Start Page -->
        <activity android:name=".StartActivity">
        </activity>

        <!-- Demo Activity -->
        <activity
            android:name=".SampleOfCameraActivity"
            android:label="@string/title_sample_of_camera">
        </activity>

        <activity
            android:name=".SampleOfDropDownMenuLayoutActivity"
            android:label="@string/title_sample_of_drop_down_menu_layout">
        </activity>

        <activity
            android:name=".SampleOfElasticDragLayoutActivity"
            android:label="@string/title_sample_of_elastic_drag_layout">
        </activity>

        <activity
            android:name=".SampleOfElasticDragDismissLayoutActivity"
            android:label="@string/title_sample_of_elastic_drag_dismiss_layout">
        </activity>

        <activity
            android:name=".SampleOfElasticDragMenuLayoutActivity"
            android:label="@string/title_sample_of_elastic_drag_menu_layout">
        </activity>

        <activity
            android:name=".SampleOfPhotoPickerActivity"
            android:label="@string/title_sample_of_photo_picker">
        </activity>
    </application>
</manifest>
