<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.my.boilerplate"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true"/>

    <!--
    android:hardwareAccelerated="true" is for TextureView

    tools:node="replace" is for merge policy.
    Please check ref: https://developer.android.com/studio/build/manifest-merge.html
    -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.CustomToolbar">

        <!-- Fabric Crashlytics -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7a93d58e91c332d945504f74acaf1d5190579e80"/>

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Start Page -->
        <activity android:name=".StartActivity">
        </activity>

        <!-- Other pages -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings">
        </activity>
        <activity
            android:name=".CollageEditorActivity"
            android:label="@string/title_collage_editor_sample">
        </activity>
        <activity
            android:name=".ViewSampleActivity"
            android:label="@string/title_view_sample">
        </activity>
        <activity
            android:name=".ViewOfCameraSampleActivity"
            android:label="@string/title_camera_sample"
            android:theme="@style/AppTheme.TranslucentBlackBg">
        </activity>
        <activity
            android:name=".ViewOfElasticDragDismissSampleActivity"
            android:label="@string/title_elastic_drag_dismiss_layout_sample"
            android:theme="@style/AppTheme.TranslucentBlackBg">
        </activity>
        <activity
            android:name=".NotificationSampleActivity"
            android:label="@string/title_notification_sample">
        </activity>
        <!-- Notification result activity with back stack -->
        <activity
            android:name=".NotificationResultSampleActivity1"
            android:label="@string/title_notification_result_sample"
            android:parentActivityName=".StartActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity"/>
        </activity>
        <!-- Transient notification result activity -->
        <activity
            android:name=".NotificationResultSampleActivity2"
            android:excludeFromRecents="true"
            android:label="@string/title_notification_result_sample"
            android:launchMode="singleTask"
            android:taskAffinity="">
        </activity>
        <activity
            android:name=".ServiceSampleActivity"
            android:label="@string/title_service_sample">
        </activity>
        <activity
            android:name=".DownloadManagerSampleActivity"
            android:label="@string/title_download_manager_sample">
        </activity>
        <activity
            android:name=".FileProviderActivity"
            android:label="@string/title_file_provider_sample">
        </activity>
        <activity
            android:name=".IapSampleActivity">
        </activity>

        <!-- Sample Shadow Activity (for e.g. RxPermissions) -->
        <!-- <activity -->
        <!-- android:name=".util.PermissionActivity" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:theme="@style/InvisibleTheme"> -->
        <!-- </activity> -->


        <!-- Services ///////////////////////////////////////////////////// -->

        <!-- Google Firebase -->
        <service
            android:name=".MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".ImmortalService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".LongOperationService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- ContentProviders ///////////////////////////////////////////// -->

        <!-- Already defined in the lib-component -->
        <!-- <provider android:name="android.support.v4.content.FileProvider"> -->
        <!-- </provider> -->
        <provider
            android:authorities="${applicationId}.provider"
            android:name=".StickerBundleProvider"
            android:exported="false">
        </provider>

        <!-- BroadcastReceiver //////////////////////////////////////////// -->

        <receiver
            android:name=".IapResultReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="my.intent.action.IAP_OK"/>
                <action android:name="my.intent.action.IAP_CANCELED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
