<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.my.boilerplate"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppThemeNoToolbar">

        <!-- Fabric Crashlytics -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7a93d58e91c332d945504f74acaf1d5190579e80"/>

        <!-- Splash Screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Start Page -->
        <activity
            android:name=".StartPageActivity">
        </activity>

        <!-- Settings -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Permission Shadow Activity -->
        <activity
            android:name=".util.PermissionActivity"
            android:launchMode="singleTop"
            android:theme="@style/InvisibleTheme">
        </activity>
    </application>
</manifest>
