<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.my.comp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Common ////////////////////////////////////////////////////////-->

        <activity android:name=".PhotoPickerActivity">
        </activity>

        <activity
            android:name=".TakePhotoDelegateActivity"
            android:theme="@style/AppTheme.Invisible">
        </activity>

        <!-- ContentProviders //////////////////////////////////////////////-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths">
            </meta-data>
        </provider>
    </application>
</manifest>
